* {
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #121212;
    color: white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.header {
    width: 100%;
    background: rgba(0, 0, 0, 0.33);
    padding-top: 21px;
    padding-bottom: 21px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 1440px;
}

.header-content {
    max-width: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.navbar {
    width: 100%;
}

.navbar-brand {
    margin-right: auto !important;
    padding-right: 60px !important;
}

.contact-button {
    margin-left: auto;
}

.navbar-collapse {
    justify-content: flex-end;
}

.nav {
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    margin-left: 2%;
}

.nav-link {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
    margin-right: 20px;
}

.nav-link:hover {
    color: rgb(255, 255, 255);
}

.contact-button {
    margin-left: auto;
}

.btn-primary {
    width: 127px !important;
    height: 43px !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-start !important;
    align-items: center !important;
    padding: 12px 24px !important;
    border-radius: 28px !important;
    background-color: rgb(0, 56, 255) !important;
    color: rgb(255, 255, 255) !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 19px !important;
    letter-spacing: -0.15px !important;
    text-align: center !important;
    border: none !important;
    cursor: pointer !important;
    transition: background-color 0.3s ease !important;
}

.first-section {
    background-image: url('img/bgimage.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    padding-top: 100px;
}

.second-section {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 20px;
}

.first-section h1 {
    width: 100%;
    max-width: 1110px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 30px 0px;
    color: rgb(255, 255, 255);
    font-size: 64px;
    font-weight: 800;
    line-height: 77px;
    text-align: left;
}

.first-but {
    width: 100%;
    max-width: 510px;
    display: flex;
    justify-content: flex-start;
    padding: 12px 24px;
    border-radius: 28px;
    border: 1px solid rgb(255, 255, 255);
    margin-bottom: 20px;
}

.first-but a {
    display: flex;
    justify-content: flex-start;
    background: linear-gradient(165.75deg, rgb(255, 255, 255), rgb(153, 153, 153));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    text-align: left;
}

.first-section p {
    width: 100%;
    max-width: 1110px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    text-align: left;
}

.stats {
    order: 3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 1110px;
    margin: 20px 0;
}

.stat-item {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
    margin: 0 10px;
}

.stat-item h2 {
    color: rgb(255, 255, 255);
    font-size: 64px;
    font-weight: 800;
    line-height: 77px;
    letter-spacing: 0%;
    margin: 0;
    text-align: left;
}

.stat-item p {
    color: rgb(255, 255, 255);
    max-width: 150px;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    margin: 10px 0 0 0;
    text-align: left;
}

.illustration {
    max-width: 300px;
    margin: auto;
    position: absolute;
    bottom: 10%;
    right: 5%;
}

.content {
    text-align: center;
    padding: 50px 0;
    margin-left: 5%;
    margin-right: 5%;
}

.section-title {
    margin-top: 60px;
    margin-bottom: 30px;
    margin-left: 10px;
    width: 700px;
    height: 77px;
    top: 60px;
    bottom: 921px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(0, 0, 0);
    font-family: "Inter";
    font-size: 64px;
    font-weight: 600;
    line-height: 77px;
    letter-spacing: 0%;
    text-align: center;
}

.section-title h1 {
    color: rgb(0, 0, 0);
    font-family: "Inter";
    font-size: 64px;
    font-weight: 600;
    line-height: 77px;
    letter-spacing: 0%;
    text-align: center;
}

.badge-custom,
.badge-custom2,
.badge-custom3,
.badge-custom4,
.badge-custom5,
.badge-custom6,
.badge-custom7,
.badge-custom8,
.badge-custom9 {
    position: relative !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 12px 24px !important;
    border-radius: 28px !important;
    color: white !important;
    font-family: 'Inter', sans-serif !important;
    font-size: 32px !important;
    font-weight: 600 !important; 
    text-align: center !important;
    margin: 10px !important; 
}

.badge-custom {
    height: 63px;
    box-shadow: 0px 4px 4px rgba(215, 58, 58, 0.25) !important;
    background: rgb(215, 58, 58) !important;
}

.badge-custom2 {
    height: 63px;
    box-shadow: 0px 4px 4px 0px rgba(255, 164, 29, 0.25) !important;
    background: rgb(255, 164, 29) !important;
}

.badge-custom3 {
    height: 63px;
    box-shadow: 0px 4px 4px 0px rgba(99, 0, 101, 0.25) !important;
    background: rgb(99, 0, 101) !important;
}

.badge-custom4 {
    height: 102px !important;
    box-shadow: 0px 4px 4px 0px rgba(39, 197, 0, 0.25) !important;
    background: rgb(39, 197, 0) !important;
}

.badge-custom5 {
    height: 63px !important;
    box-shadow: 0px 4px 4px 0px rgba(221, 80, 0, 0.25) !important;
    background: rgb(221, 80, 0) !important;
}

.badge-custom6 {
    height: 63px !important;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) !important;
    background: rgb(0, 0, 0) !important;
}

.badge-custom7 {
    height: 63px !important;
    box-shadow: 0px 4px 4px 0px rgba(0, 56, 255, 0.25) !important;
    background: rgb(0, 56, 255) !important;
}

.badge-custom8 {
    height: 141px !important;
    box-shadow: 0px 4px 4px 0px rgba(89, 13, 212, 0.25) !important;
    background: rgb(89, 13, 213) !important;
}

.badge-custom span,
.badge-custom2 span,
.badge-custom3 span,
.badge-custom4 span,
.badge-custom5 span,
.badge-custom6 span,
.badge-custom7 span,
.badge-custom8 span {
    flex-direction: row !important;
    margin: 0px 10px !important;
    color: rgb(255, 255, 255) !important;
    font-family: 'Inter', sans-serif !important;
    font-size: 32px !important;
    font-weight: 600 !important;
    line-height: 39px !important;
    letter-spacing: 0% !important;
    text-align: center !important;
}

.badge-custom9 {
    position: relative !important;
    width: 1440px !important;
    height: 411px !important;
    display: flex !important;
    align-items: center !important;
    padding: 12px 24px !important;
    border-radius: 28px !important;
    box-shadow: 0px 0px 92.3px 0px rgba(0, 0, 0, 0.25) !important;
    background: rgb(255, 255, 255) !important;
    color: rgb(0, 0, 0) !important;
    font-family: 'Inter', sans-serif !important;
    font-size: 32px !important;
    font-weight: 600 !important; 
    text-align: left !important;
    margin: 10px !important; 
}
.badge-custom9 span {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 12px 24px !important;
    flex: none !important;
    order: 0 !important;
    flex-grow: 0 !important;
    margin: 0px 10px !important;
    color: rgb(0, 0, 0) !important;
    font-family: 'Inter', sans-serif !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 0px !important;
    letter-spacing: 0% !important;
    text-align: left !important;
}

.third-text {
    padding-top: 54px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; /* Добавлено для центрирования по горизонтали */
    color: rgb(0, 0, 0);
    font-family: 'Inter', sans-serif !important;
    font-size: 40px;
    font-weight: 300;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center; /* Изменено значение для центрирования по горизонтали */
    text-transform: uppercase;
}


.content-block {
    width: 1110px;
    height: 411px;
}

.content-block img {
    width: 100%;
    border-radius: 10px;
}

.overlay-text {
    position: absolute;
    width: 507px;
    height: 240px;
    left: 190px;
    right: 743px;
    top: 656px;
    bottom: 162px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Inter', sans-serif !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 0px;
    letter-spacing: 0%;
    text-align: left;
}

.navbar-dark .navbar-nav .nav-link {
    color: white !important;
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1440px !important;
    }

    .header {
        left: 0;
        right: 0;
    }
}

@media (min-width: 1110px) {
    .header {
        left: 0;
        right: 0;
    }
}

@media (max-width: 1110px) {
    .header {
        left: 0;
        right: 0;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .header-content {
        padding: 0 10px;
    }

    .nav {
        margin-left: 2%;
    }

    .nav-link {
        margin-right: 10px;
    }

    .first-section h1 {
        font-size: 48px;
        line-height: 58px;
        margin: 20px 0px;
    }

    .first-but {
        max-width: 90%;
    }

    .first-but a {
        font-size: 20px;
        line-height: 25px;
    }

    .first-section p {
        font-size: 20px;
        line-height: 25px;
    }

    .stats {
        flex-direction: column;
        align-items: flex-start;
    }

    .stat-item {
        margin: 10px 0;
    }

    .stat-item h2 {
        font-size: 48px;
        line-height: 58px;
    }

    .stat-item p {
        font-size: 20px;
        line-height: 25px;
    }

    .illustration {
        max-width: 200px;
        bottom: 5%;
        right: 2.5%;
    }

    .content {
        margin-left: 2%;
        margin-right: 2%;
    }
}

@media (max-width: 480px) {
    .header-content {
        padding: 0 5px;
    }

    .nav {
        margin-left: 2%;
    }

    .nav-link:not(:last-child) {
        margin-right: 10px;
    }

    .first-section h1 {
        font-size: 36px;
        line-height: 46px;
        margin: 10px 0px;
    }

    .first-but {
        max-width: 100%;
    }

    .first-but a {
        font-size: 18px;
        line-height: 22px;
    }

    .first-section p {
        font-size: 18px;
        line-height: 22px;
    }

    .stats {
        flex-direction: column;
        align-items: flex-start;
    }

    .stat-item {
        margin: 5px 0;
    }

    .stat-item h2 {
        font-size: 36px;
        line-height: 46px;
    }

    .stat-item p {
        font-size: 18px;
        line-height: 22px;
    }

    .illustration {
        max-width: 150px;
        bottom: 5%;
        right: 2.5%;
    }

    .content {
        margin-left: 2%;
        margin-right: 2%;
    }
}
